ul{
    list-style-type: none;
}
.image-container {
  position: relative;
  display: inline-block;
  max-width: 420px;
  max-height: 420px;
}

.background-image {
  display: block;
  max-width: 420px;
  max-height: 420px;

}

.logo-text{
  position: absolute;
  top: 120px;
  left: 60px; 
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  box-sizing: border-box;  
  font-family: 'Montserrat', sans-serif;
}

.logo-text h1{
  font-size: 2.1rem;
  font-weight: bold;
  color: rgb(149, 23, 171);
  white-space: nowrap;
  margin: 0 0 1px 0;
  line-height: 1.2; 
  font-family: 'Montserrat', sans-serif;
}

.logo-text p {
  font-size: 1.3rem; 
  font-weight: 400;
  letter-spacing: 6.5px;
  text-transform: uppercase;
  color: rgb(149, 23, 171);
  line-height: 1;
  white-space: nowrap; 
  margin: 0 0 0 9px;
  font-family: 'Montserrat', sans-serif;
}

.logo-header{
  margin-left: 50px;
  
}

.back-container {
  display: flex;
  position: relative; 
  height: 150px;
  margin-top: -100px; 
}

.lines {
  position: relative;
  width: 100%;
  z-index: 2; 
  top: 400px;
}


.horizontal-line {
  width: 100%;
  height: 6px;
  margin-top: 3px;
  background-color: #c6bfbf;
}

.crescent {
  position: absolute;
  left: 500px;
  width: 450px;
  height: 750px; 
  background-color: #c6bfbf;
  border-top-left-radius: 475px;
  border-bottom-left-radius: 475px;
  overflow: hidden;
  z-index: 1;
  top: -50px; 
}

.crescent::before {
  content: "";
  position: absolute;
  top: 0;
  right: -120px;
  width: 450px;
  height: 750px; 
  background-color: white;
  border-top-left-radius: 475px;
  border-bottom-left-radius: 475px;
}

.crescent::after {
  content: "";
  position: absolute;
  bottom: -30px; 
  left: 0;
  width: 100%;
  height: 200px;
  background-color: white;
}


.menu-item{
    display: flex;
    gap: 20px;
    font-family: 'Cinzel', serif;
}
.menu-link{
     font-family: 'Cinzel', serif;
     font-weight: bold;
     font-size: 1.4rem;
     color: rgb(94, 92, 92);
}

.menu-item img{
    width: 30px;
    height: 30px;
}

.main-menu {
  position: absolute;
  left: 650px;
  z-index: 3;
  top: 0px; 
}


.menu-list {
    padding: 0;
    margin: 0;
}

.menu-item {
    margin-bottom: 15px;
}
.menu-item:nth-child(1) { margin-left: 115px; }
.menu-item:nth-child(2) { margin-left: 65px; }
.menu-item:nth-child(3) { margin-left: 25px; }
.menu-item:nth-child(4) { margin-left: 0px; }
.menu-item:nth-child(5) { margin-left: -20px; }
.menu-item:nth-child(6) { margin-left: -35px; }
.fruit-images {
  position: absolute;
  top: 100px;
  left: 300px;
  z-index: 2;
}

.fruit {
  border-radius: 50%;
  border: 10px solid #fff;
  position: absolute;
}

.fruit1 {
  width: 180px;
  height: 180px;
  left: 100px;
  top: 15px;
  z-index: 4;
  border: 15px solid #b9eb5f;
   box-shadow: 0 4px 20px rgba(0,0,0,1);
}

.fruit2 {
  width: 270px;
  height: 270px;
  left: -55px;
  top: 200px;
  z-index: 3;
  border: 25px solid #ffcfe5;
    box-shadow: 0 4px 20px rgba(0,0,0,1);
}

.fruit3 {
  width: 120px;
  height: 120px;
  left: 275px;
  top: -60px;
  border: 10px solid #ffea00;
  z-index: 5;
   box-shadow: 0 4px 20px rgba(0,0,0,1);
}
.text-section {
  position: absolute;
  top: 5px;
  left: 245px;
  width: 400px;
  font-family: 'Montserrat', sans-serif;
  z-index: 3;
}

.text-section h2 {
  color: red;
  font-size: 1rem;
  font-family: 'Pixelify Sans', sans-serif;
  line-height: 1.4;
  margin-bottom: 0; 
  padding-bottom: 0; 
}


.text-section p {
  color: #333;
  font-size: 1.0rem;
  line-height: 1.4;
   font-family: 'Pixelify Sans', sans-serif;
  font-weight: bold;
   margin-top: 0; 
  padding-top: 0;
}

.bottom-fruits {
  position: absolute;
  bottom: 210px;
  left: 670px;
  display: flex;
  gap: 10px;
  z-index: 2;
}
.bottom-fruits img {
    position: relative;
    width: 180px;
    height: 180px;
}
.Strawberry1 {
  top: 15px;
}
.Strawberry2 {
  top: 20px;
  right: 20px;
}

.Orange {
  top: -20px; 
  right: 35px;
}
 .note-bottom{
    position: absolute;
  left: 450px;       
  top: 520px;      
  font-family: 'Pixelify Sans', sans-serif;
  font-weight: bold;
  font-size: 0.6rem;
  color: #2e2d2d;       
  z-index: 2;
  letter-spacing: 0.6px;
 }
 .note1{
    margin-left: 100px;
    margin-bottom: 0px;
 }
 .note2{
    margin-left: 35px;
    margin-top: 0px;
 }